{
    "plugins": ["simple-import-sort"],
    "extends": [
        "eslint:recommended",
        "react-app"
    ],
    "rules": {
        "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }],
        "quotes": ["error", "double", { "avoidEscape": true }],
        "comma-spacing": "error",
        "semi": ["error", "always"],
        "eqeqeq": "error",
        "object-shorthand": "error",
        "object-curly-newline": ["error", { "multiline": true }],
        "@typescript-eslint/object-curly-spacing": ["error", "always"],
        "simple-import-sort/exports": "error",
        "simple-import-sort/imports": "error",
        "no-duplicate-imports": "error",
        "prefer-const": "error",
        "keyword-spacing": ["error", { "overrides": {
            "if": { "after": false },
            "switch": { "after": false },
            "for": { "after": false}
        } }],

        "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
        "react/destructuring-assignment": "error"
    },
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "simple-import-sort/imports": [
                    "error",
                    {
                        "groups": [
                            // Packages `react` related packages come first.
                            ["^react", "^@?\\w"],
                            // Internal packages.
                            ["^(Hooks)(/.*|$)"],
                            ["^(Contexts)(/.*|$)"],
                            ["^(Components|svgs|App)(/.*|$)"],
                            ["^(ts)(/.*|$)"],
                            // Parent imports. Put `..` last.
                            ["^\\.\\.(?!/?$)", "^\\.\\./?$"],
                            // Other relative imports. Put same-folder imports and `.` last.
                            ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"]
                        ]
                    }
                ]
            }
        }
    ]
}