.daily {
    >table {  
        svg { width: 1.5rem; }
        
        border-collapse: collapse;
    }

    tr {
        &:hover {
            filter: brightness(75%);
            cursor: pointer;
        }

        &:active { filter: brightness(50%); }

        &:not(:first-child) td { padding-top: 5px; }

        &:not(:last-child) {
            td { padding-bottom: 5px;}
    
            border-bottom: 1px solid rgba(100, 100, 100, 0.25);
        }
    }

    td {
        &:first-child { width: 1%; }

        &.condition {
            display: flex;
            justify-content: center;
    
            gap: 10px;
        }

        &:last-child{ width: 55%; }
    }

    .temp-range {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        p:first-child { text-align: right; }

        .dual-range {
            position: relative;
            width: 100%;
            background-color: rgba(89, 89, 89, 0.5);
            border-radius: 5px;
            height: 10px;

            .covered {
                position: absolute;
                height: 100%;
                border-radius: 5px;
            }
        }
    }
}