.flex-list {
    display: flex;
    list-style-type: none;

    padding: 0px;
    width: 100%;
    overflow-y: hidden;

    &-row { flex-direction: row; }
    &-column { flex-direction: column; }
}

.drag-scroll {
    cursor: grab;

    &.active { cursor: grabbing; }
    &:not(.active)::-webkit-scrollbar-thumb { background-color: transparent !important; }
}

#hourly {
    flex-direction: column;
    text-align: center;

    >ol {
        height: 100%;
        gap: 20px;

        >.seperator {
            display: flex;
            flex-direction: column;
            align-items: center;

            &::before, &::after {
                content: "";
                display: inline-block;
                flex: 1 1 auto;
                width: 5px;
                background-color: white;
                border-radius: 5px; 
            }

            &::before { 
                margin-bottom: 5px;
            }
            &::after { 
                margin-top: 5px;
            }
        }

        >li {
            display: flex;
            flex-direction: column;

            p { white-space: nowrap; }
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;

                height: 100%;
                margin: 5px 0px;
                
                svg { 
                    width: 2rem !important; 
                }
            }
        }
    }
}