.flex-list {
    display: flex;
    list-style-type: none;

    padding: 0px;
    overflow-y: hidden;

    &-row { flex-direction: row; }
    &-column { flex-direction: column; }

    gap: 20px;
}

.drag-scroll {
    cursor: grab;
    
    &.drag-active { cursor: grabbing; }
    &:not(.drag-active)::-webkit-scrollbar-thumb { background-color: transparent !important; }
}

#hourly {
    flex-direction: column;
    text-align: center;

    >ol {
        >.seperator {
            display: flex;
            flex-direction: column;
            align-items: center;

            &::before, &::after {
                content: "";
                display: inline-block;
                flex: 1 1 auto;
                width: 5px;
                background-color: white;
                border-radius: 5px; 
            }
        }

        >li {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p { white-space: nowrap; }
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                flex: 1;
                
                svg { 
                    width: 2rem !important; 
                }
            }
        }
    }
}