//do-transition allows easy definition of simple transitions.
@mixin do-transition($transition-property, $from, $to, $duration, $pseudo:"") {
    &#{$pseudo} {
        #{$transition-property}: #{$from};
    }

    &.enter-active#{$pseudo} {
        #{$transition-property}: #{$to};
        transition: #{$transition-property} #{$duration} ease-in-out;
    }

    &.leave#{$pseudo} {
        #{$transition-property}: #{$to};
    }

    &.leave-active#{$pseudo} {
        #{$transition-property}: #{$from};
        transition: #{$transition-property} #{$duration} ease-in-out;
    }
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dark-back-blur {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    color: white;
}

//Used by leaflet
$border-radius: 10px;
$dark-back-hov: rgba(0, 0, 0, 0.6);
$dark-a: #00b7ff;