//do-transition allows easy definition of simple transitions.
//see useAnimation hook and Modal for examples on using classes
@mixin do-transition($transition-property, $from, $to, $duration, $pseudo:"") {
    &#{$pseudo} {
        transition: #{$transition-property} #{$duration} ease;
        #{$transition-property}: #{$from};
    }

    &.enter#{$pseudo} {
        #{$transition-property}: #{$to};
    }
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dark-back-blur {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    color: white;
}

//Used by leaflet
$dark-back-hov: rgba(0, 0, 0, 0.6);
$dark-a: #00b7ff;