@mixin dark-back-blur {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: white;
}

$border-radius: 5px;
$dark-back-hov: rgba(0, 0, 0, 0.6);
$dark-a: #00b7ff;