@import 'mixin';

dialog {
    color: inherit;
    margin: auto;
    max-width: 500px;
    background-color: var(--widget-back);
    border-radius: var(--border-radius);
    border: none;
    padding: 0px;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 { 
        text-align: center; 
        padding: 20px;

        >* {
            background: transparent;
            border: none;
            color:inherit;
            font-size: inherit;
            
            &:focus { outline: none; }
        }
    }

    >.modal-content {
        overflow-y: auto;
        padding: 20px;

        h2, h3, h4, h5, h6 { font-weight: 500; }

        hr { 
            height: 1px;
            background-color: #efdddd57;
            border: none;
        }
    
        p { margin-bottom: 10px; }
        hr {  margin: 5px; }
    }

    &#chart {
        max-width: 75%;
        max-height: 75%;
    }

    &::backdrop {
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.5);
    }

    @include do-transition(transform, translateY(100vh), translateY(0), 1s);
    @include do-transition(opacity, 0, 1, 1s, '::backdrop');
}