$conditionGradients: ("clear-day": (#52a4da, #73bae1),
                      "clear-evening": (#112257, #9561a0),
                      "clear-night": (#050f33, #31378a),
                      "overcast-day": (#acb7bd, #73bae1),
                      "overcast-night": (#2d3438, #31378a),
                      "rain": (#0f1c50, #8da3bd),
                      "thunderstorms": (#4f5158, #8da3bd),
                      "snow": (#797c87, #acb7bd)
                     );

#now {
    align-items: center;
    padding: 60px 0px;
    gap: 10px;
    grid-row: span 2;

    font-size: 1.5rem;

    h1 {
        position: relative;
        font-size: 6rem;
        font-weight: 200;

        &::after {
            position: absolute;
            content: '°';
        }
    }
}

@each $name, $gradient in $conditionGradients {
    .#{$name} {
        background: linear-gradient(to bottom, $gradient);
    }
}