@use "mixin";

#peek {
    --peek-padding: 20px;

    .modal-content {
        padding: 0px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

    .widget {
        backdrop-filter: none;
        box-shadow: none;

        &.now, &.alert {
            grid-column: span 4;
            border-radius: 0px;
        }

        &.level-info, &.wind, &.pressure {
            grid-column: span 2;
        }
    }

    .widget.skeleton {
        background-color: var(--widget-back-layer);
    }

    .widget:not(.now, .alert) {
        margin: 5px;
    }

    .widget:not(.widget-large) {
        min-height: 150px;
    }
}

.peek-now {
    @include mixin.center-flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1.5rem;

    padding: var(--peek-padding);

    h1 {
        position: relative;
        font-size: 6rem;
        font-weight: 200;

        &::after {
            position: absolute;
            content: '°';
        }
    }
}

.peek-alert {
    padding: var(--peek-padding);
}

.peek-items {
    padding: var(--peek-padding);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.peek-item {
    display: flex;
    gap: 5px;

    svg {
        width: 2rem;
    }

    >div {
        p:first-of-type {
            font-size: 1.5rem;
            margin-bottom: 5px;
        }
    }
}