@use "mixin";

#pressure > div {
    @include mixin.center-flex;
    flex-direction: column;
    gap: 5px;

    >svg {
        width: 2rem;
        margin: -0.5rem;
    }

    >.equal {
        font-size: 2rem;
        margin: -0.5rem;
    }

    >.value {
        font-size: 2rem;
    }
}