@import './mixin';

#radar {
    >.leaflet-container { 
        border-radius: 10px;
        height: 100% 
    }

    &:not(.zoom-radar) > .leaflet-container {
        cursor: pointer;

        .leaflet-control {  display: none; }
    }

    &.zoom-radar > .leaflet-container {
        z-index: 999;
        position: fixed !important;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0px;
    }

    .current-location > svg {
        width: 100%;
    }
}

.leaflet-overlay-pane {
    svg {
        width: unset !important;
    }
}

.leaflet-control {
    @include dark-back-blur;
    border-radius: $border-radius;
    overflow: hidden;
}

.leaflet-custom-control {
    color: white !important;
    
    &.button, .leaflet-control-toggle {
        @include center-flex;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        border: none;

        >svg { width: 1.25rem; }
    }

    #opacity {
        padding: 10px;

        >p { text-align: center; }
    }

    &#playback {
        display: grid;
        grid-template-columns: auto 1fr;

        max-width: 900px;
        width: 100%;
        height: fit-content;
        padding: 10px;

        svg, > div.play-pause {
            width: 1.5rem;
            height: 1.5rem;
        }

        >p.time {
            grid-column: span 2;
            text-align: center;
        }

        >div.timeline {
            display: flex;
            flex-direction: column;

            >input {
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                cursor: pointer;
                width: 100%;

                &::-webkit-slider-runnable-track {
                    background-color: rgba(136, 136, 136, 0.5);
                    border-radius: $border-radius;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    height: 10px;
                    width: 10px;
                    border-radius: $border-radius;
                    background-color: #6498fa;
                }
            }

            >datalist {
                display: flex;
                justify-content: space-between;

                >option  {
                    padding: 0px 1px;
                    background: rgba(136, 136, 136, 0.5);
                    border-radius: $border-radius;
                }
            }
              
        }
    }
}

.leaflet-center {
    left: 20px;
    right: 20px;
    bottom: 20px;

    display: flex;
    justify-content: center;
}