@use './mixin';

#radar {
    //Backdrop filter causes postition fixed to not work
    //Following rule works around this for the radar element
    backdrop-filter: none;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: saturate(130%);
        border-radius: var(--border-radius);
    }

    >.leaflet-container { 
        border-radius: var(--border-radius); 

        &.zoom-radar {
            z-index: var(--on-top);
            inset: 0px;
            position: fixed !important;
            border-radius: 0px;
        }

        &:not(.zoom-radar) {
            cursor: pointer;
            .leaflet-control { display: none; }
        }
    }

    .current-location > svg {
        width: 100%;
    }
}

.leaflet-overlay-pane {
    svg {
        width: unset !important;
    }
}

.leaflet-control {
    @include mixin.dark-back-blur;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.leaflet-custom-control, .leaflet-control-toggle {
    color: white !important;

    @include mixin.center-flex;
    min-width: 2rem;
    min-height: 2rem;
    border: none;

    > svg { width: 1.25rem; }
}

button.leaflet-control {
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#opacity {
    padding: 10px;

    >p { text-align: center; }
}

#playback {
    display: grid;
    grid-template-columns: auto 1fr;

    max-width: 900px;
    width: 100%;
    height: fit-content;
    padding: 10px;

    svg, > div.play-pause {
        width: 1.5rem;
        height: 1.5rem;
    }

    >p.time {
        grid-column: span 2;
        text-align: center;
    }

    >div.timeline {
        display: flex;
        flex-direction: column;

        >input {
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 100%;

            &::-webkit-slider-runnable-track {
                background-color: rgba(136, 136, 136, 0.5);
                border-radius: var(--border-radius);
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                height: 10px;
                width: 10px;
                border-radius: var(--border-radius);
                background-color: #6498fa;
            }
        }

        >datalist {
            display: flex;
            justify-content: space-between;

            >option  {
                padding: 0px 1px;
                background: rgba(136, 136, 136, 0.5);
                border-radius: var(--border-radius);
            }
        }
          
    }
}

.leaflet-center {
    left: 20px;
    right: 20px;
    bottom: 20px;

    display: flex;
    justify-content: center;
}