.slidable {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    >div { min-width: 100%; }

    //DO NOT REMOVE
    //FIXES A BUG WITH ANIMATION ON SAFARI WHERE .slide-out 
    //ELEMENTS MAY GET STUCK
    >.slide-in { z-index: 1; }
}