#suntime {
    @include center-flex;
    justify-content: space-evenly;
    flex-direction: row;

    >div:last-child {
        @include center-flex;
        flex-direction: column;

        height: 100%;

        >svg {
            width: 5rem;
        }
    }
}