@import './modules/mixin';

/* required styles */

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane>svg,
.leaflet-pane>canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
	position: absolute;
	left: 0;
	top: 0;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.leaflet-pane { z-index: 400; }

.leaflet-tile {
    filter: inherit;
    visibility: hidden;

    /* Prevents IE11 from highlighting tiles in blue */
    &::selection {
        background: transparent;
    }
}

/* marker & overlays interactivity */

.leaflet-marker-icon,
.leaflet-marker-shadow  {
    display: block;
    pointer-events: none;
}

.leaflet-zoom-box {
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800;
    border: 2px dotted #38f;
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-container {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    background: #ddd;
    outline-offset: 1px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;

    /* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
    /* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
    .leaflet-overlay-pane {
        svg {
            max-width: none !important;
            max-height: none !important;
        }
    }

    .leaflet-marker-pane, .leaflet-shadow-pane, .leaflet-tile-pane, .leaflet-tile {
        img {
            max-width: none !important;
            max-height: none !important;
            width: auto;
            padding: 0;
        }
    }

    img.leaflet-image-layer {
        max-width: none !important;
        max-height: none !important;
        width: auto;
        padding: 0;
    }

    a {
        -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
        color: #00b7ff;
    }

    .leaflet-control-attribution {
        margin: 0;

        a { color: $dark-a; }
    }

    a.leaflet-popup-close-button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        text-align: center;
        width: 24px;
        height: 24px;
        font: 16px/24px Tahoma, Verdana, sans-serif;
        color: #757575;
        text-decoration: none;
        background: transparent;

        &:hover {
            color: #585858;
        }

        &:focus {
            color: #585858;
        }
    }

    &.leaflet-touch-zoom {
        -ms-touch-action: pan-x pan-y;
        touch-action: pan-x pan-y;
    }
    
    &.leaflet-touch-drag {
        -ms-touch-action: pinch-zoom;
        touch-action: none;
        touch-action: pinch-zoom;
    }
    
    &.leaflet-touch-drag.leaflet-touch-zoom {
        -ms-touch-action: none;
        touch-action: none;
    }
}

.leaflet-safari {
    /* Safari renders non-retina tile on retina better with this, but Chrome is worse */
    .leaflet-tile {
        image-rendering: -webkit-optimize-contrast;
    }

    /* hack that prevents hw layers "stretching" when loading new tiles */
    .leaflet-tile-container {
        width: 1600px;
        height: 1600px;
        -webkit-transform-origin: 0 0;
    }
}

.leaflet-tile-loaded {
    visibility: inherit;
}

.leaflet-overlay-pane {
    /* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
    svg {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    z-index: 400;
}

.leaflet-tile-pane { z-index: 200; }
.leaflet-shadow-pane { z-index: 500; }
.leaflet-marker-pane { z-index: 600; }
.leaflet-tooltip-pane { z-index: 650; }

.leaflet-popup-pane {
    z-index: 700;
    cursor: auto;
}

.leaflet-map-pane {
    canvas { z-index: 100; }
    svg { z-index: 200; }
}

.leaflet-vml-shape {
    width: 1px;
    height: 1px;
}

.lvml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute;
}

/* control positioning */

.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted;
	/* IE 9-10 doesn't have auto */
    pointer-events: auto;
    float: left;
    clear: both;
    cursor: auto;
}

.leaflet-top, .leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-top {
    top: 0;

    .leaflet-control {
        margin-top: 10px;
    }
}

.leaflet-bottom {
    bottom: 0;

    .leaflet-control {
        margin-bottom: 10px;
    }

    .leaflet-control-scale {
        margin-bottom: 5px;
    }
}

.leaflet-right {
    right: 0;

    .leaflet-control {
        float: right;
        margin-right: 10px;
    }
}

.leaflet-left {
    left: 0;

    .leaflet-control {
        margin-left: 10px;
    }

    .leaflet-control-scale {
        margin-left: 5px;
    }
}

/* zoom and fade animations */
.leaflet-fade-anim {
    .leaflet-popup {
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
    }

    .leaflet-map-pane {
        .leaflet-popup {
            opacity: 1;
        }
    }
}

.leaflet-zoom-animated {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

svg.leaflet-zoom-animated {
    will-change: transform;
}

.leaflet-zoom-anim {
    .leaflet-zoom-animated {
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
        -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
        transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
    }

    .leaflet-zoom-hide {
        visibility: hidden;
    }
}

.leaflet-zoom-anim , .leaflet-pan-anim {
    .leaflet-tile {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
}

/* cursors */

.leaflet-interactive {
    cursor: pointer;
}

.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.leaflet-crosshair {
    &, & .leaflet-interactive {
        cursor: crosshair;
    }
}

.leaflet-dragging {
    .leaflet-grab, .leaflet-marker-draggable, .leaflet-grab .leaflet-interactive  {
        cursor: move;
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
    }
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane>svg path,
.leaflet-tile-container {
    pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane>svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
    pointer-events: visiblePainted;
	/* IE 9-10 doesn't have auto */
    pointer-events: visible;
}


/* general toolbar styles */
.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;

    @include dark-back-blur;
    width: 2rem;

    a {
        color: inherit;
        border-bottom: 1px solid rgb(131, 131, 131);
        display: block;
        text-align: center;
        text-decoration: none;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        display: block;

        &:hover, &:focus {
            background-color: $dark-back-hov;
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        &:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            border-bottom: none;
        }

        &.leaflet-disabled {
            cursor: default;
            background-color: rgba(0, 0, 0, 0.6);
            color: #bbb;
        }
    }
}

.leaflet-control-layers-toggle {
    border-radius: $border-radius;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-image: url(../svgs/stack.svg);
    width: 2rem;
    height: 2rem;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-size: 26px 26px;
}

.leaflet-touch {
    .leaflet-bar {
        a {
            width: 100%;
            height: 2rem;
            line-height: 2rem;

            &:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }

            &:last-child {
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }

        box-shadow: none;
        background-clip: padding-box;
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
        font-size: 32px;
    }

    .leaflet-control-layers-toggle {
        width: 2rem;
        height: 2rem;
        background-size: 1.25rem;
    }

    .leaflet-control-attribution {
        box-shadow: none;
    }

    .leaflet-control-layers {
        box-shadow: none;
        background-clip: padding-box;
    }
}

/* zoom control */

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

/* layers control */

.leaflet-control-layers {
    @include dark-back-blur;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: $border-radius;
    
    .leaflet-control-layers-list {
        display: none;
    }

    label {
        display: block;
        font-size: 13px;
        font-size: 1.08333em;
    }
}

.leaflet-control-layers-expanded {
    .leaflet-control-layers-toggle {
        display: none;
    }

    .leaflet-control-layers-list {
        display: block;
        position: relative;
    }

    padding: 6px 10px 6px 6px;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

/* Default icon URLs */
.leaflet-default-icon-path {
    background-image: url(images/marker-icon.png);
}

.leaflet-control-attribution {
    padding: 0 5px;
    color: #333;
    line-height: 1.4;

    a {
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    svg {
        display: inline !important;
    }
}

.leaflet-control-scale-line {
    padding: 0 5px;
    color: #333;
    line-height: 1.4;
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);

    &:not(:first-child) {
        border-top: 2px solid #777;
        border-bottom: none;
        margin-top: -2px;

        &:not(:last-child) {
            border-bottom: 2px solid #777;
        }
    }
}

/* popup */

.leaflet-popup {
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px;
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-content {
    margin: 13px 24px 13px 20px;
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.08333em;
    min-height: 1px;

    p {
        margin: 17px 0;
        margin: 1.3em 0;
    }
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-top: -1px;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
}

.leaflet-popup-tip {
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    pointer-events: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.leaflet-oldie {
    .leaflet-popup-content-wrapper {
        -ms-zoom: 1;
        border: 1px solid #999;
    }

    .leaflet-popup-tip {
        width: 24px;
        margin: 0 auto;
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
        border: 1px solid #999;
    }

    .leaflet-control-zoom {
        border: 1px solid #999;
    }

    .leaflet-control-layers {
        border: 1px solid #999;
    }
}

/* div icon */
.leaflet-div-icon {
    background: #fff;
    border: 1px solid #666;
}

/* Tooltip */
/* Base styles for the element that has a tooltip */
.leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip.leaflet-interactive {
    cursor: pointer;
    pointer-events: auto;
}

.leaflet-tooltip-top {
    &:before {
        position: absolute;
        pointer-events: none;
        border: 6px solid transparent;
        background: transparent;
        content: "";
        left: 50%;
        margin-left: -6px;
        bottom: 0;
        margin-bottom: -12px;
        border-top-color: #fff;
    }

    margin-top: -6px;
}

/* Directions */

.leaflet-tooltip-bottom {
    &:before {
        position: absolute;
        pointer-events: none;
        border: 6px solid transparent;
        background: transparent;
        content: "";
        left: 50%;
        margin-left: -6px;
        top: 0;
        margin-top: -12px;
        margin-left: -6px;
        border-bottom-color: #fff;
    }

    margin-top: 6px;
}

.leaflet-tooltip-left {
    &:before {
        position: absolute;
        pointer-events: none;
        border: 6px solid transparent;
        background: transparent;
        content: "";
        top: 50%;
        margin-top: -6px;
        right: 0;
        margin-right: -12px;
        border-left-color: #fff;
    }

    margin-left: -6px;
}

.leaflet-tooltip-right {
    &:before {
        position: absolute;
        pointer-events: none;
        border: 6px solid transparent;
        background: transparent;
        content: "";
        top: 50%;
        margin-top: -6px;
        left: 0;
        margin-left: -12px;
        border-right-color: #fff;
    }

    margin-left: 6px;
}

/* Printing */
@media print {
    /* Prevent printers from removing background-images of controls. */
    .leaflet-control {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}