@charset "UTF-8";
:root {
  font-size: 20px;
}

svg {
  width: 1rem;
}

* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  box-sizing: border-box !important;
}

p {
  margin: 0px;
  line-height: 1;
  height: fit-content;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 60px;
  background-image: radial-gradient(14.52% 30.09% at 100% 0%, rgba(255, 255, 255, 0.5) 0%, #00A3FF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.hide-overflow {
  overflow: hidden;
}

#panel {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-auto-rows: 10rem;
  gap: 20px;
}

.widget {
  position: relative;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.widget-large {
  grid-column: span 2;
  grid-row: span 2;
}

.widget::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(181, 181, 181, 0.3);
  mix-blend-mode: luminosity;
}

.basic-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.basic-info > svg {
  width: 2.5rem;
}

.basic-info > p:last-of-type {
  font-size: 3rem;
}

.flex-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  width: 100%;
  overflow-y: hidden;
}

.flex-list-row {
  flex-direction: row;
}

.flex-list-column {
  flex-direction: column;
}

.drag-scroll {
  cursor: grab;
}

.drag-scroll.active {
  cursor: grabbing;
}

.drag-scroll.active::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.drag-scroll::-webkit-scrollbar {
  height: 5px;
}

.drag-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.drag-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.hide {
  display: none;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}

#loader > svg {
  width: 500px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222222;
  padding: 0px;
}

nav > a {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0px;
}

nav > a:hover {
  background-color: #353535;
}

nav > a:active {
  background-color: #555555;
}

nav > a > svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

#now {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

#now #current {
  position: relative;
  font-size: 6rem;
  font-weight: 200;
}

#now #current::after {
  position: absolute;
  content: '°';
}

.alert {
  min-width: 20rem;
  max-width: 75%;
  padding: 10px;
  mix-blend-mode: normal !important;
  text-align: center;
}

.alert.warning {
  background-color: #C31700;
}

.alert.watch {
  background-color: #FFF501;
}

.alert.advisory {
  background-color: #FF9431;
}

.alert.special {
  background-color: #8F00FF;
}

#hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-column: span 6;
  text-align: center;
}

#hourly > ol {
  gap: 20px;
}

#hourly > ol > .seperator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hourly > ol > .seperator::before, #hourly > ol > .seperator::after {
  content: "";
  display: inline-block;
  flex: 1 1 auto;
  width: 5px;
  background-color: white;
}

#hourly > ol > .seperator::before {
  border-radius: 5px 5px 0px 0px;
}

#hourly > ol > .seperator::after {
  border-radius: 0px 0px 5px 5px;
}

#hourly > ol p {
  white-space: nowrap;
}

#hourly > ol svg {
  width: 3rem !important;
}

#daily {
  display: flex;
  justify-content: center;
  align-items: center;
}

#daily > table {
  width: 100%;
  border-spacing: 0px 5px;
  margin: auto;
}

#daily svg {
  width: 1.5rem;
}

#daily td:last-of-type {
  width: 55%;
}

#daily .temp-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#daily .temp-range p:first-child {
  text-align: right;
}

#daily .temp-range .dual-range {
  position: relative;
  width: 60%;
  background-color: rgba(89, 89, 89, 0.5);
  border-radius: 5px;
  height: 10px;
}

#daily .temp-range .dual-range .covered {
  position: absolute;
  height: 100%;
  border-radius: 5px;
}

#radar {
  padding: 0px;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(white, black);
}

#radar > div {
  height: 100%;
}

#radar:not(.zoom-radar) {
  cursor: pointer;
}

#radar:not(.zoom-radar) .leaflet-control {
  display: none;
}

#radar.zoom-radar {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px;
}

#radar .current-location > svg {
  width: 100%;
}

.leaflet-overlay-pane svg {
  width: unset !important;
}

.leaflet-control {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 5px;
}

.leaflet-custom-control {
  color: white !important;
}

.leaflet-custom-control.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.leaflet-custom-control.button > svg {
  width: 1.25rem;
}

.leaflet-custom-control#playback {
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr;
  max-width: 900px;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.leaflet-custom-control#playback svg, .leaflet-custom-control#playback > div.play-pause {
  width: 1.5rem;
  height: 1.5rem;
}

.leaflet-custom-control#playback > p.time {
  grid-column: span 2;
  text-align: center;
}

.leaflet-custom-control#playback > div.timeline {
  display: flex;
  flex-direction: column;
}

.leaflet-custom-control#playback > div.timeline > input {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.leaflet-custom-control#playback > div.timeline > input::-webkit-slider-runnable-track {
  background-color: rgba(136, 136, 136, 0.5);
  border-radius: 5px;
}

.leaflet-custom-control#playback > div.timeline > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #6498fa;
}

.leaflet-custom-control#playback > div.timeline > datalist {
  display: flex;
  justify-content: space-between;
}

.leaflet-custom-control#playback > div.timeline > datalist > option {
  padding: 0px 1px;
  background: rgba(136, 136, 136, 0.5);
  border-radius: 5px;
}

.leaflet-center {
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.level-info, #wind {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.level-info > div, #wind > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.level-info > div svg, #wind > div svg {
  z-index: -1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  height: 100%;
  width: 100%;
}

.level-info > div svg .origin-center, #wind > div svg .origin-center {
  transform-origin: center;
}

.level-info > div > div, #wind > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.level-info > div > div p:first-of-type, #wind > div > div p:first-of-type {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
}

.level-info svg .gradient {
  width: 100px;
  height: 100px;
}

.level-info#AQ > div > svg .gradient {
  background-image: conic-gradient(from 0.5turn at 50% 50%, #00FF66 36deg, #FFF501 90deg, #FF9431 144deg, #FF2204 198deg, #8400FF 252deg, #6D0000 306deg);
}

.level-info#UV > div > svg .gradient {
  background-image: conic-gradient(from 0.5turn at 50% 50%, #00FF66 36deg, #FFF501 100.8deg, #FF9431 165.6deg, #FF2204 230.4deg, #FF00D6 292.2deg);
}

#solar-moon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  grid-column: span 2;
}

#solar-moon > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#solar-moon > div:last-child > svg {
  width: 5rem;
}

@media screen and (max-width: 1800px) {
  #panel {
    grid-template-columns: repeat(6, 10rem);
  }
  #panel #hourly {
    grid-column: span 4;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 1100px) {
  #panel {
    grid-template-columns: repeat(4, 10rem);
  }
}

@media screen and (max-width: 700px) {
  #panel {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(150px, auto);
  }
  #panel #hourly {
    grid-column: span 2;
  }
  .alert {
    width: 100%;
    max-width: unset;
  }
}
