@charset "UTF-8";
@import url("./inter-font/inter.css");
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222222;
  padding: 0px;
}

nav > a {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0px;
}

nav > a:hover {
  background-color: #353535;
}

nav > a:active {
  background-color: #555555;
}

nav > a > svg {
  width: 100%;
  height: 100%;
  margin: auto;
}

#now {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

#now > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}

#now > div #low, #now > div #high {
  width: 50px;
}

#now > div #low {
  text-align: right;
}

#now > div #current {
  font-size: 6rem;
}

#now > div #current::after {
  position: fixed;
  content: '°';
}

.alert {
  max-width: 900px;
  width: 100%;
  padding: 10px;
  mix-blend-mode: normal !important;
  text-align: center;
}

.alert.warning {
  background-color: #C31700;
}

.alert.watch {
  background-color: #FFF501;
}

.alert.advisory {
  background-color: #FF9431;
}

.alert.special {
  background-color: #8F00FF;
}

#hourly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  grid-column: span 6;
  text-align: center;
}

#hourly > ol {
  gap: 20px;
}

#hourly > ol > .seperator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hourly > ol > .seperator::before, #hourly > ol > .seperator::after {
  content: "";
  display: inline-block;
  flex: 1 1 auto;
  width: 5px;
  background-color: white;
}

#hourly > ol > .seperator::before {
  border-radius: 5px 5px 0px 0px;
}

#hourly > ol > .seperator::after {
  border-radius: 0px 0px 5px 5px;
}

#hourly > ol p {
  white-space: nowrap;
}

#hourly > ol svg {
  width: 3rem !important;
}

#daily ol {
  height: 100%;
  justify-content: center;
  gap: 10px;
}

#daily svg {
  width: 1.5rem;
}

#daily ol > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.5rem;
}

#daily ol > li > p {
  width: 10%;
}

#daily .temp-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 60%;
}

#daily .temp-range p {
  width: 15%;
}

#daily .temp-range p:first-child {
  text-align: right;
}

#daily .temp-range .dual-range {
  position: relative;
  flex: 1 1 auto;
  background-color: rgba(89, 89, 89, 0.5);
  border-radius: 5px;
  height: 10px;
}

#daily .temp-range .dual-range .covered {
  position: absolute;
  background-image: linear-gradient(90deg, #FF9431 0%, #FF2727 100%);
  height: 100%;
  border-radius: 5px;
}

:root {
  font-size: 20px;
}

svg {
  width: 1rem;
}

* {
  margin: 0px;
  font-family: 'Inter';
  font-weight: 400;
  box-sizing: border-box;
}

p {
  margin: 0px;
  line-height: 1;
  height: fit-content;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  padding-top: 60px;
  background-image: radial-gradient(14.52% 30.09% at 100% 0%, rgba(255, 255, 255, 0.5) 0%, #00A3FF 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#panel {
  display: grid;
  grid-template-columns: repeat(8, 204px);
  grid-auto-rows: 204px;
  gap: 20px;
  height: 100vh;
}

.widget {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.widget-large {
  grid-column: span 2;
  grid-row: span 2;
}

.flex-list {
  display: flex;
  list-style-type: none;
  padding: 0px;
  width: 100%;
  overflow: hidden;
}

.flex-list-row {
  flex-direction: row;
}

.flex-list-column {
  flex-direction: column;
}
